*::before, *, *::after{
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    margin-top: 0;
}

a, body{color: #373737;}

body, ul {
    padding: 0;
    margin: 0;
    font: 1.3rem/1.2 'Roboto', sans-serif;
}

img{max-width: 100%;}

ul{
    list-style: none;
}

.btn{
    display: inline-block;
    border-radius: .8em;
    background-color: #6fc247;
    color: #fff;
    padding: .5em .8em;
}

.nav_link:hover,
.nav_link:focus,
.btn:hover,
.btn:focus,
.btn-user{color: #6fc247;}

.btn:hover,
.btn:focus,
.btn-user{
    border: 1px solid #6fc247;
    background-color: #fff;
}

.btn-user:hover,
.btn-user:focus{
    color: #fff;
    background-color: #6fc247;
}

.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

header{
    box-shadow: 0 0 7px #373737;
}

header, 
footer{padding: 1.5em 0;}

header,
.hero,
.sponsor_text,
footer{text-align: center;}

.hero{padding-top: 2.5em;}

.nav_item{margin-top: 1em}
header .btn-cta{margin-top: 2em}

.hero_text{font-size: 2em;}
.cta{margin-bottom: 2em;}

section + section{margin-top: 2.5em;}

.sponsors .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4em;
}

.sponsors .col-img{
    height: 117px;
    width: 211px;
    background-color: #f9f9f9;
    margin-top: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us{
    background-color: #000;
    color: #fff;
    padding: 1.5em 0;
}

.about-us .row{margin-top: 2.5em;}
.intro{
    width: 80%;
}
.why-us .intro{margin: 0 auto;}

@media (max-width: 415px){.btn-user{margin-top: .5em;}}

@media (min-width: 800px) {   
    .container{width: 75%;}
    header{text-align: 0;}
    
    .col{width: 100%;}
    .row, .nav, 
    .nav_list{display: flex;}

    header .row{
        justify-content: space-between;
        align-items: center;
    }
    .nav_list,
    .about-us .row,
    .why-us .row{gap: 1.4em;}

    .nav_item,
    .btn-cta,
    header .btn-cta{margin-top:0}

    .hero_text{
        font-size: 2.5em;
        margin-bottom: .5em;
    }
    .hero p{margin-bottom: 1.5em;}

}